

<div class="form">
  <ul class="tab-group">
    <li class="tab active signup"><a class="signuplink" href="#signup">Sign Up</a></li>
    <li class="tab login"><a class="loginlink" href="#login">Log In</a></li>
  </ul>
  <div class="tab-content">
    <div id="signup">
       {{>flash_messages}}
      <h1>Register your account</h1>
     
    
      <form  action="/process-signup" method="POST">
        <div class="top-row">
          <div class="field-wrap">
            <input type="text" name="firstName" placeholder="First Name*" required/>
          </div>
          <div class="field-wrap">
            <input type="text" name="lastName" placeholder="Last Name*" required/>
          </div>
        </div>
        <div class="field-wrap">
          <input type="email" name="email" placeholder="Email Address*(abc@abc.com)" required/>
        </div>
        <div class="field-wrap">
          <input type="password" name="password" placeholder="Set Password*(must conatain atleast a numbers)" required/>
        </div>
        <button type="submit" class="button button-block">Create Your Account</button>
        
      </form>
    </div>


    <div id="login">
      <h1>Welcome</h1>
     
     
      <form  action="/process-login" method="POST">
        <div class="field-wrap">
          <input type="email" name="email" placeholder="Email Address*" required/>
        </div>
        <div class="field-wrap">
          <input type="password" name="password" placeholder="Password*" required/>
        </div>
        <button class="button button-block">Log In</button>
        {{>flash_messages}}
      </form>
    </div>
  </div><!--tab content-->
</div><!--/form-->
{{!-- -------------------------------------------------------------- --}}