<h2>Best Places </h2>

<div class="his-pattern">
{{#each bestPlacesArray}}
<div class="bp-content">
     <a href="/bestplaces/{{this.id}}"><img src={{this.images.[0]}} alt="bestplaces-image"></a>
      <h3>{{this.name}}</h3>
 </div>
    {{/each}}
</div>



