<h2>Best Places </h2>

<div>
    {{#each bestPlacesArray}}
    <div>
        <h3>{{this.name}}</h3>

        <a href="/bestplaces/{{this.id}}"><img src={{this.images.[0]}} alt="bestplaces-image"></a>

    </div>
    {{/each}}
</div>