<h2>FESTIVALS</h2>

<div class="his-pattern">
    {{#each cultureArray}}
 <div class="fes-content">
<a href="/culture/{{this.id}}"><img src={{this.images.[0]}} alt="food-image"></a>
 <h3>{{this.festivalName}}</h3>
 </div>
    {{/each}}
</div>


