<h2>Festival</h2>

<div class="row">
    {{#each cultureArray}}
    <div class="column">
        <div class="content">
            <a class="img-center" href="/culture/{{this.id}}"><img class="img-list" src={{this.images.[0]}} alt="food-image"></a>
            <h3>{{this.festivalName}}</h3>
        </div>
    </div>
    {{/each}}
</div>