<h2>FOOD</h2>

<div class="his-pattern">
    {{#each foodArray}}
    <div class="food-content">
      <a href="/food/{{this.id}}"><img src={{this.images.[0]}} alt="food-image"></a>
     <h3>{{this.foodName}}</h3>
 </div>
    {{/each}}
</div>

