<h2>historical places</h2>


<div class="row">
  {{#each hisArray}}
  <div class="column">
    <div class="content">
      <a class="img-center" href="/historicalplaces/{{this.id}}"><img class="img-list" src={{this.images.[0]}} alt="historical-image"></a>
      <h3>{{this.placeName}}</h3>
    </div>
  </div>
  {{/each}}
</div>