<h2>Mysterious Places</h2>

<div>
  {{#each mysArray}}
  <div>
    <h3>{{this.placeName}}</h3>
    <h3>{{this.cityName}}</h3>

    <a href="/mysteriousplaces/{{this.id}}"><img src={{this.images.[0]}} alt="mysterious-image"></a>

  </div>
  {{/each}}
</div>