<h2>Mysterious Places</h2>

<div>
  {{#each mysArray}}
  <div>
    <h3>{{this.name}}</h3>

<a href="/city/{{this.id}}"><img src={{this.images.[0]}} alt="mysterious-image"></a>

</div>
  {{/each}}
</div>