<h2>Mysterious Places</h2>

<div class="his-pattern">
  {{#each mysArray}}
  <div class="mys-content">
     <a href="/mysteriousplaces/{{this.id}}"><img src={{this.images.[0]}} alt="mysterious-image"></a>

    <h3>{{this.placeName}}</h3>
  
  
   
  </div>
  {{/each}}
</div>


