<h2>Trekking Places</h2>
<div class="his-pattern">
    {{#each trekkingplacesArray}}
 <div class="trek-content">
   <a href="/trekkingplaces/{{this.id}}"><img src={{this.images.[0]}} alt="trekkingplaces-image"></a>
    <h3>{{this.name}}</h3>
 </div>
    {{/each}}
</div>


