<h2>My blogs</h2>

<div>
  {{#each storyArray}}
  <div>
    <h3>{{this.title}}</h3>
    <h3>{{this.place}}</h3>
    <h3>{{this.description}}</h3>
    
    <img src = {{this.avatar}} alt="mysterious-image"></a>

  </div>
  {{/each}}
</div>