body {
  padding: 0px;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url(../images/background-1.png);
}

a {
  color: #00b7ff;
}

header {
  height: 50px;
}
nav {
  position: fixed;
  background-color: black;
  top: 0;
  width: 100%;
  z-index: 99992;
  padding: 10px 0;
  border-bottom: 2px solid #b40701;
}

footer {
}

.menu-list {
  display: flex;
}
// login-formcss

.form a {
  text-decoration: none;
  color:#a0b3b0;
}
.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 2px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  &:after {
    display: table;
    clear: both;
  }

  // .form li a {
  //   display: block;
  //   text-decoration: none;
  //   padding: 15px;
  //   text-align: center;
  //   color: grey;
  //   background: violet;
  //   font-size: 20px;
  //   float: left;
  //   width: 50%;
  //   cursor: pointer;
  //   transition: 0.5s ease;
  //   &:hover {
  //     background: darkblue;
  //     color: white;
  //   }
  // }
  .form.active a {
    background: #00b7ff;
    color: white;
  }
}

.form .tab-content > div:last-child {
  display: none;
}
.form h1 {
  text-align: center;
  color: white;
  margin: 0 0 25px;
  font-size: 25px;
}

// .form label{
//   margin-right: 20px;
//   padding-bottom: 24px;
// }
.form label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
  .req {
    opacity: 0;
  }
}

label.highlight {
  color: white;
}

.form input,
textarea {
  font-size: 15px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid grey;
  color: white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  &:focus {
    outline: 0;
    border-color: #1ab188;
  }
}
// textarea {
//   border: 2px solid grey;
//   resize: vertical;
// }

.field-wrap {
  position: relative;
  margin-bottom: 30px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float: left;
    width: 48%;
    margin-right: 4%;
    &:last-child {
      margin: 0;
    }
  }
}
.button {
  border: 0;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  background:#1ab188;
  color: white;
  //transition: all.5s ease;
  
}
.button-block {
  display: block;
  width: 100%;
}

.tab-group {
  display: flex;
  justify-content: center;
}

.tab {
  width: 210px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  //border-radius: 20px;
  margin: 0 -1px;
  font-weight: 600;
  background-color:rgba(160, 179, 176, 0.25);
}
.tab-group .active{
  background-color:#1ab188;
}
.tab-group .active a{
  color: white;
}

.his-pattern {
  display: flex;
  flex-wrap: wrap;

  /* width: 244%; */
  max-width: 60%;
  margin: 0 auto;
}
.his-content {
  width: 33.33%;
  margin-top: 50px;
}

.his-content img {
  width: 80%;
  height: 50%;
}




.carousel-inner {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 25%;
  margin-top: 5%;
}

.carousel-control-prev {
  left: 20%;
}

.carousel-control-next {
  right: 20%;
}

// -----------------------------------------------

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h3 {
  font-size: 50px;
  word-break: break-all;
  line-height: 60px;
  flex-grow: 1;
  text-align: center;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 30px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.img-list {
  width: 100%;
  height: 370px;
}

.img-center {
  display: block;
  flex-grow: 3;
}
//add form css
// .sectionone img {
//   width: 100%;
//   height: 200px;
// }

// .headerimg {
//   width: 100%;
//   height: 100%;
//   background-image: url("../images/header-image.jpg");
//   background-size: cover;
// }

.sectiontwo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.single-image {
  width: 60%;
  height: 700px;
  //border: 2px solid black;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: center;
}
.single-image img {
  width: 82%;
  height: 82%;
  margin-left: 33px
}
.formpart {
  width: 35%;
  height: 500px;
}

.addblog-form {
  width: 609px;
  margin: 5px auto;
  background-color: #f3efe7;
  padding: 2px;
  height: 574px;
}

.addblog-form h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}
.addblog-form input{
  height: 36px;
  width: 73%;
  /* padding-bottom: 27px; */
  margin-bottom: 18px;
  margin-left: 91px;

}
.addblog-form input[type=text], textarea {
  width: 73%;
  margin-bottom: 28px;
  font-size: 20px;
  color: #cfcece;
  font-weight: 300;
  padding: 8px 12px;
  /* border: none; */
  color: #555555;
  font-weight: 300;
  margin-left: 86px;
}


.addblog-form button{
  cursor: pointer;
  margin: 0;
  padding: 11px 31px;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-left: 86px;
}


//flash messages css

.error-messages{
  border:3px solid;
  border-radius:3px;
  color:white;
  padding:10px;
  margin-top: 3px;
  background-color: #b40701
}

.success-messages{
  border-radius:3px;
  color:white;
  padding:10px;
  margin-top: 3px;
  background-color: green
}