body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-image: url(../images/background.png);
}

a {
  color: #00b7ff;
}

header {
  height: 50px;
}
nav {
  position: fixed;
  background-color: black;
  top: 0;
  width: 100%;
  z-index: 99992;
  padding: 10px 0;
  border-bottom: 2px solid #b40701;
}

footer {
}

.menu-list {
  display: flex;
}
// login-formcss

.form a {
  text-decoration: none;
  color: blue;
  transition: 0.5s ease;
  &:hover {
    color: darkblue;
  }
}
.form {
  background: #00b7ff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 2px;
  box-shadow: 0 4px 10px 4 px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  &:after {
    display: table;
    clear: both;
  }

  .form li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color: grey;
    background: violet;
    font-size: 20px;
    float: left;
    width: 50%;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      background: darkblue;
      color: white;
    }
  }
  .form.active a {
    background: #00b7ff;
    color: white;
  }
}

.form .tab-content > div:last-child {
  display: none;
}
.form h1 {
  text-align: center;
  color: white;
  font-weight: 10px;
  margin: 0 0 40px;
  font-size: 30px;
}

// .form label{
//   margin-right: 20px;
//   padding-bottom: 24px;
// }
.form label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
  .req {
    opacity: 0;
  }
}

label.highlight {
  color: white;
}

.form input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid grey;
  color: white;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
  &:focus {
    outline: 0;
    border-color: darkblue;
  }
}
textarea {
  border: 2px solid grey;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float: left;
    width: 48%;
    margin-right: 4%;
    &:last-child {
      margin: 0;
    }
  }
}
.button {
  border: 0;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: blue;
  color: white;
  transition: all.5s ease;
  -webkit-appearance: none;
  &:hover,
  &:focus {
    background: darkblue;
  }
}
.button-block {
  display: block;
  width: 100%;
}

.tab-group {
  display: flex;
  justify-content: center;
}

.tab {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 20px;
  margin: 0 15px;
  font-weight: 600;
  background-color: white;
}

.his-pattern {
  display: flex;
  flex-wrap: wrap;

  /* width: 244%; */
  max-width: 60%;
  margin: 0 auto;
}
.his-content {
  width: 33.33%;
  margin-top: 50px;
}

.his-content img {
  width: 80%;
  height: 50%;
}

// .middle {
//   transition: .5s ease;
//   opacity: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   text-align: center;
// }

// .his-content:hover img {
//   opacity: 0.3;
// }

// .his-content:hover .middle {
//   opacity: 1;
// }

// .text {
//   background-color: #4CAF50;
//   color: white;
//   font-size: 16px;
//   padding: 16px 32px;
// }

.trek-content {
  width: 33.33%;
  margin-top: 50px;
}

.trek-content img {
  width: 80%;
  height: 60%;
}

.mys-content {
  width: 33.33%;
  margin-top: 50px;
}
.mys-content img {
  width: 80%;
  height: 60%;
}

.food-content {
  width: 33.33%;
  margin-top: 50px;
}
.food-content img {
  width: 80%;
  height: 70%;
}
.fes-content {
  width: 50%;
  margin-top: 50px;
}
.fes-content img {
  width: 80%;
  height: 60%;
}
.carousel-inner {
  position: relative;
  width: 50%;
  overflow: hidden;
  left: 25%;
  margin-top: 5%;
}

.carousel-control-prev {
  left: 20%;
}

.carousel-control-next {
  right: 20%;
}

// -----------------------------------------------

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h3 {
  font-size: 50px;
  word-break: break-all;
  line-height: 60px;
  flex-grow: 1;
  text-align: center;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.img-list {
  width: 100%;
}

.img-center {
  display: block;
  flex-grow: 3;
}
//add form css
.sectionone {
  width: 100%;
  height: 200px;
}

.headerimg {
  width: 100%;
  height: 100%;
  background-image: url("../images/header-image.jpg");
  background-size: cover;
}

.sectiontwo {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.grid-images {
  width: 35%;
  height: 500px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.formpart {
  width: 35%;
  height: 500px;
}

.grid-each-image {
  width: 35%;
  height: 35%;
  background-color: black;
}
