
<div class="blog-list-page-title"><h1>Travel stories</h1></div>
<div class="row show-story">
  {{#each arrayOfStories}}
    <div class="column">
 <div class="content">
    
    <a class="img-center" href="/see-story/{{this.id}}">
    <img class="img-list" src={{this.avatar}}>
     </a>
      <h3>{{this.place}}</h3>
     </div>
     </div>
  {{/each}}
  
</div>


