
<h2>Travel stories</h2>
<div class="row">
  {{#each arrayOfStories}}
    <div class="column">
 <div class="content">
    <h3>{{this.title}}</h3>
    <a class="img-center" href="/see-story/{{this.id}}">
    <img class="img-list" src={{this.avatar}}>
     </a>
     <h3>{{this.place}}</h3>
     </div>
     </div>
  {{/each}}
  
</div>


