
<h2>Add Your Story</h2>

<form action="/process-story" method="POST">
<label for="">First Name
  <input type="text" name="firstName" value= "{{currentUser.firstName}}">
</label>
<label for="">Last Name
  <input type="text" name="lastName" value= "{{currentUser.lastName}}">
</label>
<label for="">Email
  <input type="text" name="email" value= "{{currentUser.email}}">
</label>
<label for="">Place
  <input type="text" name="place" value= "{{currentUser.email}}">
</label>
<button>Submit</button>

</form>